<html>
<head>
	<title>Code Graph</title>
	<meta charset="utf-8" />
	<script src="https://d3js.org/d3.v4.js" type="text/JavaScript"></script>
</head>
<style>
	svg {
		height: 600px;
		width: 1000px;
		border: 1px solid gray;
	}

    text {
        font: 8px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        pointer-events: none;
    }

    rect.package {
        fill: blue;
        stroke: red;
        stroke-width: 1px;
        opacity: .25;
    }

    line.tree {
        stroke: blue;
        stroke-width: 1px;
    }
    line.back {
        stroke: red;
        stroke-width: 1px;
    }
    line.cross {
        stroke: orange;
        stroke-width: 1px;
    }
    line.forward {
        stroke: yellow;
        stroke-width: 1px;
    }

</style>
<body>
<div id="msg">
</div>
<div>
	<svg>
	</svg>
</div>
</body>
<footer>

	<script>

        redraw();

        function redraw() {
            d3.queue()
                    .defer(d3.json, "data")
                    .await(
                    function (error, file1) {
                        console.log(file1);
                        dataViz(file1)
                    });
        }

		function dataViz(objects) {
			var recHeight = 25;
			var cellHeight = 40;
            var yOffset = 5;
            var yNameOffset = 10;

            var rectangles = objects.filter(function(d) { return d.clsid == "rectangle" });
            var arrows = objects.filter(function(d) { return d.clsid == "arrow" });

			var xScale = d3.scaleLinear().domain([0,500]).range([ 0, 1000 ]);
			var yScale = d3.scaleLinear().domain([0,400]).range([ 0, 800 ]);
//
//            d3.select("svg").selectAll("text").data(objects)
//                    .enter()
//                    .append("text")
//                    .filter(function(d) { return d.clsid == "artifact" })
//                    .attr("x", function(d) {return xScale(0);})
//                    .attr("y", function(d) {return yScale(yOffset);})
//                    .text( function(d) {return d.fqn;});

			d3.select("svg").selectAll("rect").data(rectangles)
					.enter()
					.append("rect")
                    .attr("class", "package")
                    .attr("width", xScale(50))
					.attr("height",yScale(recHeight))
					.attr("x", function(d) {return xScale(5 + d.x * 60);})
					.attr("y", function(d) {return yScale(yOffset + d.y * cellHeight);})
                    .on("click", rectClick);

// define marker
			d3.select("svg").append("svg:defs").selectAll("marker")
					.data(["arrow"])
					.enter().append("svg:marker")
					.attr("id", String)
					.attr("viewBox", "0 -2 4 4")
					.attr("refX", 4)
					.attr("refY", 0)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("svg:path")
					.attr("d", "M0,-2L4,0L0,0");

            d3.select("svg").selectAll("text").data(rectangles)
                    .enter()
                    .append("text")
                    .attr("x", function(d) {return xScale(30 + d.x * 60);})
                    .attr("y", function(d) {return yScale(yOffset + yNameOffset + d.y * cellHeight);})
                    .text( function(d) {return d.name;});

			d3.select("svg").selectAll("line").data(arrows)
					.enter()
					.append("line")
					.attr("x1", function(d) {
                        if (d.arrowType == "tree") {
                            // start from the middle
                            return xScale(35 + (d.x1 * 60));
                        } else {
                            // start a bit right from the middle
                            return xScale(45 + (d.x1 * 60));
                        }
                    })
					.attr("y1", function(d) {
						if (d.y2 > d.y1) {
							return yScale(yOffset + recHeight + d.y1 * cellHeight);
						} else {
							return yScale(yOffset + d.y1 * cellHeight);
						}
					})
					.attr("x2", function(d) {return xScale(35 + d.x2 * 60);})
					.attr("y2", function(d) {
						if (d.y2 > d.y1) {
							return yScale(5 + d.y2 * cellHeight);
						} else {
							return yScale(yOffset + recHeight + d.y2 * cellHeight);
						}
					})
					.attr("class", function(d) { return "link arrow " + d.arrowType })
					.attr("marker-end", "url(#arrow)");

		}

        function rectClick(datapoint) {
            console.log("rectClick: " + datapoint.name);
            if (datapoint.name.indexOf(".") > -1) {
                return;
            }

            window.location = datapoint.name + "/view";
        }


	</script>
</footer>

</html>
